/* rating */
.rating {
  display: flex;

  &--read-only {
    .rating {
      &__item {
        pointer-events: none;
      }
    }
  }

  &__item {
    cursor: pointer;

    &:hover,
    &--active {
      .rating {
        &__icon {
          fill: $blue;
        }
      }
    }
  }

  &__input {
    display: none;
  }

  &__icon {
    width: 22px;
    height: 22px;
    fill: $light-gray;
    transition: 0.25s;
  }
}