; http://editorconfig.org

# Специальная настройка, которая должна быть на самом верху конфига. Если установлена в true, парсер не будет искать другие конфиги родительских папках (Подробности ниже).
root = true

# Для всех файлов
[*]

# Позволяет выбрать кодировку для файлов.
charset = utf-8

# Позволяет задать жесткую или мягкую табуляцию для отступов.
indent_style = space

# Позволяет задать ширину отступа использовании мягкой табуляции.
indent_size = 2

# Позволяет выбрать, что использовать на концах строк.
end_of_line = lf

# Позволяет убрать пробелы из концов строк.
trim_trailing_whitespace = true

# Позволяет убедиться, что в конце файла всегда будет новая строка.
insert_final_newline = true
