/*! reset by IIIu6ko */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* ios radius and shadow fix */
input,
select,
textarea,
button {
  border-radius: 0;
  background-clip: padding-box;
}

/* placeholder */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: inherit;
  opacity: 1;
}

::-moz-placeholder { /* Firefox 19+ */
  color: inherit;
  opacity: 1;
}

:-ms-input-placeholder { /* IE 10+ */
  color: inherit;
  opacity: 1;
}

:-moz-placeholder { /* Firefox 18- */
  color: inherit;
  opacity: 1;
}

button {
  padding: 0;
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

img {
  vertical-align: bottom;
}

a {
  text-decoration: none;
}

td {
  padding: 0;
  vertical-align: top;
}