// font-weight: 100 Thin (Hairline) | 200 Extra Light (Ultra Light) | 300 Light | 400 Normal | 500 Medium | 600 Semi Bold (Demi Bold) | 700 Bold | 800 Extra Bold (Ultra Bold) | 900 Black (Heavy)
// font-style: normal | italic | oblique

/* fonts */
@font-face {
  font-family: "gothamPro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/gothamPro/GothamPro.eot"); /* IE9 Compat Modes */
  src: url("../fonts/gothamPro/GothamPro.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("../fonts/gothamPro/GothamPro.woff") format("woff"), /* Modern Browsers */
       url("../fonts/gothamPro/GothamPro.ttf") format("truetype"); /* Safari, Android, iOS */
}