/*
  font-weight:
    100 Thin (Hairline)
    200 Extra Light (Ultra Light)
    300 Light
    400 Normal
    500 Medium
    600 Semi Bold (Demi Bold)
    700 Bold
    800 Extra Bold (Ultra Bold)
    900 Black (Heavy)

  font-style: normal | italic | oblique
*/

/* begin fonts */
/* @font-face {
  font-weight: 400;
  font-family: roboto;
  font-style: normal;
  src:
    url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.woff") format("woff");
  font-display: swap;
} */
/* end fonts */
