/* tabs */
.tabs {
  &__nav {
    overflow: hidden;
    border: 1px solid #cccccc;
    background-color: #f1f1f1;
  }

  &__button {
    padding: 14px 16px;
    font-size: 17px;
    background-color: inherit;
    border: none;
    outline: none;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      background-color: #dddddd;
    }

    &.active {
      background-color: #cccccc;
    }
  }

  &__content {
    display: none;
    padding: 6px 12px;
    opacity: 1;
  }
}